@{
    ViewBag.Title = "Editor Texto";    
}
@using Proyecto_microSQL.Models;

<div style="width:1200px; height:470px; padding:3px; float:left" ;>

    <div style="width:245px; overflow:scroll; height:447px; background:#000000; float:left;">
        @Html.Partial("_Tablas", (List<Proyecto_microSQL.Models.EstructuraTabla>)ViewBag.tablas)
    </div>

    <div style="width:945px;  float:right;">
        @using (Html.BeginForm())
        {
            <div class="col-lg-10">
                <textarea class="form-control" name="textArea1" id="textArea" rows="20" cols="70" onkeyup=" var start = this.selectionStart;
                                                                                                            var end = this.selectionEnd;
                                                                                                            this.value = this.value.toUpperCase();
                                                                                                            this.setSelectionRange(start, end);">@ViewBag.texto</textarea>
            </div>
            <div class="col-xs-10 col-md-2">
                <button class="btn btn-success" type="submit">Ejecutar</button>
            </div>
        }
    </div>
</div>

<div class="form-group" style="width:1026px; height:245px; overflow:scroll; background:#808080; float:left; padding:3px;">
    @{
        List<string> err = ViewBag.error;
        foreach (var item in err)
        {
            if (item.Contains("ERROR"))
            {
                <h6 style="color:darkred">@item</h6>
            }
            else
            {
                <h6 style="color:darkgreen">@item</h6>
            }
        }

        //agregar las tablas de select
        List<selection> selects = ViewBag.grids;
        foreach (var select in selects)
        {
            EstructuraTabla nueva = new EstructuraTabla();
            nueva.Nombre = select.NombreTabla;
            StreamReader sr = new StreamReader("C://microSQL//tablas//" + select.NombreTabla + ".tabla");
            string line;
            while ((line = sr.ReadLine()) != null)
            {
                nueva.Columnas.Add(line.Split(',')[0], line.Split(',')[1]);
            }
            sr.Close();
            <table class="table table-hover">
                <thead>
                    <tr>
                        @{
                            if (select.Columnas.Count > 0)
                            {
                                if (select.Columnas[0] == "*")
                                {
                                    foreach (var item in nueva.Columnas)
                                    {
                                        <th scope="col" style="color:black; background-color:darkblue">@item.Key</th>
                                    }
                                }
                                else
                                {
                                    foreach (var columna in select.Columnas)
                                    {
                                        <th scope="col" style="color:black; background-color:darkblue">@columna</th>
                                    }
                                }
                            }

                        }
                        
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var fila in select.Filas)
                        {
                            <tr class="table-light" style="background-color:floralwhite">
                                
                                @{ if (select.Columnas.Count > 0)
                                    {
                                        if (select.Columnas[0] == "*")
                                        {                                            
                                                <td style="color:black"> @fila.ID </td>
                                                if (fila.INT1 != 0)
                                                {
                                                    <td style="color:black"> @fila.INT1 </td>
                                                    if (fila.INT2 != 0)
                                                    {
                                                        <td style="color:black"> @fila.INT2 </td>
                                                        if (fila.INT3 != 0)
                                                        {
                                                            <td style="color:black"> @fila.INT3 </td>
                                                        }
                                                    }
                                                if (fila.DT1 != "")
                                                {
                                                    <td style="color:black"> @fila.DT1 </td>
                                                    if (fila.DT2 != "")
                                                    {
                                                        <td style="color:black"> @fila.DT2 </td>
                                                        if (fila.DT3 != "")
                                                        {
                                                            <td style="color:black"> @fila.DT3 </td>
                                                        }
                                                    }
                                                }
                                                if (fila.VAR1 != "")
                                                {
                                                    <td style="color:black"> @fila.VAR1 </td>
                                                    if (fila.DT2 != "")
                                                    {
                                                        <td style="color:black"> @fila.VAR2 </td>
                                                        if (fila.VAR3 != "")
                                                        {
                                                            <td style="color:black"> @fila.VAR3 </td>
                                                        }
                                                    }
                                                }

                                            }
                                        }
                                        else
                                        {
                                            int Intcont = 0;
                                            int Varcont = 0;
                                            int DTcont = 0;

                                            foreach (var columna in select.Columnas)
                                            {
                                                if (nueva.Columnas[columna] == "INT PRIMARY KEY")
                                                {
                                                    <td style="color:black"> @fila.ID </td>
                                                }
                                                else if (nueva.Columnas[columna] == "INT")
                                                {
                                                    foreach (var col in nueva.Columnas)
                                                    {
                                                        if (col.Value == "INT" && col.Key != columna)
                                                        {
                                                            Intcont++;
                                                        }
                                                        else if (col.Value == "INT" && col.Key == columna)
                                                        {
                                                            Intcont++;
                                                            break;
                                                        }
                                                    }

                                                    if (Intcont == 1)
                                                    {
                                                        <td style="color:black"> @fila.INT1 </td>
                                                    }
                                                    else if (Intcont == 2)
                                                    {
                                                        <td style="color:black"> @fila.INT2 </td>
                                                    }
                                                    else if (Intcont == 3)
                                                    {
                                                        <td style="color:black"> @fila.INT3 </td>
                                                    }

                                                }
                                                else if (nueva.Columnas[columna] == "VARCHAR(100)")
                                                {
                                                    foreach (var col in nueva.Columnas)
                                                    {
                                                        if (col.Value == "VARCHAR(100)" && col.Key != columna)
                                                        {
                                                            Varcont++;
                                                        }
                                                        else if (col.Value == "VARCHAR(100)" && col.Key == columna)
                                                        {
                                                            Varcont++;
                                                            break;
                                                        }
                                                    }

                                                    if (Varcont == 1)
                                                    {
                                                        <td style="color:black"> @fila.VAR1 </td>
                                                    }
                                                    else if (Varcont == 2)
                                                    {
                                                        <td style="color:black"> @fila.VAR2 </td>
                                                    }
                                                    else if (Varcont == 3)
                                                    {
                                                        <td style="color:black"> @fila.VAR3 </td>
                                                    }                            
                                                }
                                                else if (nueva.Columnas[columna] == "DATETIME")
                                                {
                                                    foreach (var col in nueva.Columnas)
                                                    {
                                                        if (col.Value == "DATETIME" && col.Key != columna)
                                                        {
                                                            DTcont++;
                                                        }
                                                        else if (col.Value == "DATETIME" && col.Key == columna)
                                                        {
                                                            DTcont++;
                                                            break;
                                                        }
                                                    }
                                                    if (DTcont == 1)
                                                    {
                                                        <td style="color:black"> @fila.DT1 </td>
                                                    }
                                                    else if (DTcont == 2)
                                                    {
                                                        <td style="color:black"> @fila.DT2 </td>
                                                    }
                                                    else if (DTcont == 3)
                                                    {
                                                        <td style="color:black"> @fila.DT3 </td>
                                                    }
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                    </tbody>                                    
            </table>
        }
}
</div>



